
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
  margin: 0;
  box-sizing: border-box;
  font-family: ui-rounded;
  font-weight: 600;
  font-style: normal;
}

.wrapper{
  max-width: 1500px;
  margin: auto;
}

.primary-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.navigation-bar nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  gap: 8px;
}

.navigation-bar2 select {
  border: none;
  background-color: white;
}

.navigation-bar nav ul li{
  gap: 2px;
}

.navigation-bar nav ul a{
  text-decoration: none;
  color: black;
}

.fa{
  padding: 4px;
  color: #515960;
}

.hamburger-menu{
  position: absolute;
  left: 16px;
  top: 14px;
  width: 30px;
  border-radius: 50%;
  display: none;
  font-size: 20px;
}

.hamburger-menu2{
  position: absolute;
  right: 10px;
  top: 16px;
  width: 30px;
  border-radius: 50%;
  display: none;
  font-size: 20px;
}


.secondary-header
{
  background-color: rgb(240, 240, 240);
}

.secondary-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
}

.login-signup{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.journal-heading h1{
  font-size: 3em;
  margin: 0px;
}

.search-bar span{ 
  border: 1px solid blue;
  background-color: blue;
  color: white;
  padding: 8px;
  border-radius: 2px;
 
}
.fa-angle-down{
    color: white;
}
.search-bar input{ 
  position: relative;
  height: 33px;
  width: 350px;
  border-radius: 4px;
  border: 1px solid #c1b9b9;
}

.search-bar button{ 
  position: absolute;
  height: 36px;
  color: white;
  background-color: blue;
  border-radius: 4px;
}

.login-signup{
  gap: 8px;
}


.login-signup-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup-inner i{
  font-size: 20px;
}

.login-signup-inner span{
  font-size: 12px;
}

.cart-info i{
  border: 1px solid blue;
  font-size: 20px;
  color: white;
  background-color: blue;
  border-radius: 3px;
}

.hamburger-menu3{
  position: absolute;
  right: 10px;
  width: 30px;
  border-radius: 50%;
  display: none;
  font-size: 20px;
}


.all-department{
  background-color: blue;
  color: white;
  margin: 0;
}

.both-department{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;     
}

.both-department ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
  gap: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.department-navbar ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}

.contact-navbar ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}

.department-heading{
  border: 1px solid rgb(173 152 2);
  background-color: rgb(223, 212, 65);
  height: 40px;
  display: flex;
  padding-left: 16px;
  padding-right: 70px;
  align-items: center;
  margin-right: 10px;
  position: relative;

}


.text-space{
  padding-left: 10px;
  padding-right: 10px;
}

.department-heading i{ 
  color: rgb(0, 0, 0);
  margin-right: 5px;
}

.department-navbar > ul > .department-heading > a{
  color: black;
}

.department-heading > a:after{
  content: "sale";
  width: 40px;
  height: 18px;
  align-items: center;
  background-color: rgb(218, 24, 24);
  position: absolute;
  top: -10px;
  right: 6px; 
  border-radius: 4px;
  padding-bottom: 6px;
  text-align: center;
  padding-left: 3px;
}

.blog-heading{
  border: 1px solid rgb(173 152 2);
  background-color: rgb(223, 212, 65);
  height: 40px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
}

.blog-heading i{ 
  color: rgb(0, 0, 0);
  margin-right: 5px;
}

.contact-navbar > ul > .blog-heading > a{
  color: black;
}

 

.homepage{
    display: flex;
    gap: 30px;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lefthomepage{
    border-radius: 8px;
    display: flex;
    width: 100%;
    background-image: url("../img/photo6.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    justify-self: center;
    align-items: center;
}

.leftcontent{
    margin: 40px;
    width: 300px;
    color: white;
    >span{
        background-color: blue;
        border-radius: 6px;
        padding: 4px;
        font-weight: 500;
    }
    a{
       border: 1px solid rgb(180, 180, 180);   
       border-radius: 4px;
       padding:6px;
       >i{
        color: #f6fbff;
       }
    }
}

.righthomepage{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 500px;
    gap: 10px;
}

.righttophome{
    height: 50%;
    width: 100%;
    display: flex;
    background-image: url("../img/Laptop.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    border-radius: 16px;
    justify-self: center;
    align-items: center;
    background-color: grey;
}

.rightbottomhome{
    width: 100%;
    height: 50%;
    display: flex;
    background-image: url("../img/vr.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    border-radius: 16px;
    justify-self: center;
    align-items: center;
}
.rightcontent{
    margin: 12px;
    color: #231e1e;
    width: 100px;
    >span{
        color: blue;
        font-weight: 500;
    }
}



.serviceContainer{
    background-color: rgb(35, 4, 112);
    color: white;

}

.Allservices{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.servicelist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.serviceicon i{
    border: 2px solid rgb(119, 50, 20);
    border-radius: 50%;
    padding: 16px;
     font-size: 38px;
     color: rgb(189, 91, 11);
}

.servicecontent h4{
    margin-bottom: 2px;
}
.servicecontent p{
    margin-top: 2px;
}





.buyContainer{
  height: 590px;}
.buy_brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy_brand h1{
    font-size:xx-large;
    margin-bottom: 4px;
}

.rule {
  width: 5%;
  border: 1px solid #df4a4ad9;
}
.buy_brand p{
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  color: #515960;
}

.buy-categories{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buy-categories>div>a{
    border: 1px solid rgb(196, 188, 188);
    padding: 8px 14px;
    font-weight: 500;
    color: #515960;
}
.buy-categories .topCategory a{
   background-color: blue;
   color: white;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
}

.buy-categories>.fashionCategory>a{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
 }




  .carousel {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 300px;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
    width: 200%; 
   
}
.carousel-slide {

    display: flex;
    gap: 16px;
    width: 100%; 
    flex-shrink: 0;
}
.carousel-item {
    position: relative;
    border-radius: 12px;
    border:1px solid #dcdddf;
    flex: 1;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.carousel-item p {
    position: absolute;
    bottom: 10px;
    left: 20%;
    right: 20%;
    color: white;
    background-color: rgba(35, 188, 191, 0.5);
    padding: 6px 10px;
    margin: 0;
}



.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}


/* Media Queries */
@media (max-width: 768px) {
  .carousel,
  .carousel-inner,
  .carousel-slide {
    height: 120px;
    margin-left: 15px;
  }

  .carousel-item {
    height: 200px;
  }

  .carousel-item p {
    font-size: 14px;
    bottom: 5px;
  }
  .allBlogs {
    gap: 0;
  }

}

@media (max-width: 480px) {
  .carousel,
  .carousel-inner,
  .carousel-slide {
    height: auto;
  }

  .carousel-item {
    height: 150px;
  }

  .carousel-item p {
    font-size: 12px;
    bottom: 5px;
  }
}






.feature_Container{
  height: 850px;
}

.cartItem {
    position: relative;
    overflow: hidden;
  }
  .g{
    color:  #267c34;
  }
  .r{
    color: rgb(114, 12, 12);
  }
  
  .catOptions {
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    padding: 16px;
    justify-content: center;
  
  }
  
  .catOptions li {
    padding: 13px;
    background-color: rgb(220, 220, 220);
    font-weight: 500;
    font-size: 16px;
    color: rgb(77, 77, 77);
  }
  
  .catOptions li:hover {
    background-color: rgba(0, 0, 255, 0.850);
    color: white;
  }
  
  
  
  
  .cardimg-tag {
    position: relative;
    margin: 10px
  }
  
  
  .catCards img {
  
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
  }
  
  .cardlink {
  
    padding: 0.5rem 0;
    position: absolute;
    text-align: center;
    top: 80%;
    left: 20%;
    background-color: white;
    border-radius: 10px;
    width: 55%;
    font-size: 1rem;
  
  }
  
  .cardlink a {
    align-self: center;
  
  }
  
  
  
  .cartItems {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;
  }
  
  .cartItem {
    display: flex;
    position: relative;
    margin: 6.5px;
    flex-direction: column;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 2px;
  }
  
  .pimgcontainer{
    height: 280px;
  }
  .pimage {
  
    object-fit: cover;
    height: 280px;
    width: 100%;
    padding: 0px;
}
  
  
  .pname {
    display: flex;
    padding: 8px;
    background-color: rgb(231 235 233);
    justify-content: space-between;
  
  }
  
  .pname p {
    font-size: 16px;
    margin: 0;
  }
  
  .buy {
    display: flex;
    background-color: rgb(231 235 233);
    justify-content: space-between;
    font-size: 14px;
    padding: 6.5px;
    margin: 0;
  }
  
  .buy img {
    border-radius: 100%;
  }
  
  
  .buybutton {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 5px;
  }
  
  .pbrand {
    text-decoration: underline;
  }
  
  
  .price h3 {
    margin:8px 14px;
    font-size: 20px;
    font-weight: 460;
  
  }
  
  .price h5 {
    margin:8px 14px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .pothers {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 55px;
    padding: 0 16px;
  
  }
  
  .pothers button {
    background-color: rgba(56, 89, 173, 0.925);
    color: white;
    font-size: 13px;
    padding: 6.5px;
    border: none;
  
  }
  
  .pothers input {
    height: 20px;
    width: 24px;
  }
  
  
  
  
  .allproducts {
    display: flex;
    justify-content: center;
    margin: 32px 0;
  }
  
  .allproducts a {
  
    background-color: rgba(0, 0, 255, 0.850);
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    padding: 4px;
  
  }
  .wishlist{
    display: flex;
    gap: 8px;
    margin-right: 5%;
  }
  







  .shop-Brand{
    height: 345px;
  }


.carouselshop{

  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 160px;
}
.improved_carousel_slideshop {
  display: flex;
  width: 100%; 
  padding-bottom: -120px;


 
}
.improved_carousel_slideshop {

  display: flex;
  gap: 16px;
  width: 100%; 
}
.carousel-itemshop{
  position: relative;
  border-radius: 12px;
  border:1px solid #dcdddf;
  flex: 1;
  height: 156px;
  background-size: cover;
  background-position: center;
}



.carousel-control.left {
  left: 10px;
}

.carousel-control.right {
  right: 10px;
}


/* Media Queries */
@media (max-width: 768px) {
  .shop-brand {
    height: 345px; 
  }

  .carousel-item {
    height: 120px;
  }

  .improved-gallery {
    height: auto;
    padding: 20px 0;
  }

.price{
  width: 100%;
  height: 167px;
}


.buyContainer{
  height: 385px;
}

}

@media (max-width: 480px) {
  .carousel-slide {
    flex-direction: column;
  }

  .carousel-item {
    height: 100px;
  }

  .improved-gallery {
    height: auto;
    padding: 10px ;
  }
}


.ImprovedGallery{
      height: 450px;
      background-color: #324358;
}


.buy_brand .improvedGallery_heading{
 color: white;
}
.buy_brand .improvedGallery_Para{
  
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  color: #c9dbe7;
}

.carousel-itemimproved{
  position: relative;
  border-radius: 12px;
  border:1px solid #6f7278;
  flex: 1;
  height: 156px;
  background-size: cover;
  background-position: center;
  margin-left: 5px;
}



/* Media Queries */
@media (max-width: 768px) {

  

.improved_carousel_slideshop
{ 
display: flex;
    gap: 16px;
    width: 100%;
}

.feature_Container {
  height: 900px;
}

.most-viewed-items-container{


padding-right: 10px;

}
  
}





.blogContainer{
  height: 859px; 
   background-color: #f7f7f7;
}


.allBlogs {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  gap: 16px;
}


.blogCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
   border: 1px solid #d3cece;
   border-radius: 16px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blogCardimg {
  border-radius: 16px;
  position: relative;
  align-self: center;
  object-fit: cover;
  height: 360px;
  width: 100%;

}

.blogCard img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 360px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.views {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  opacity: 0.86;
}

.views p {
  display: flex;
  color: black;
  font-size: 14px;
  padding: 0 12px;
  margin: 0;
}
.fa-user{
  padding-right: 2px;

}

.views img {
  padding: 8px  4px 0px 0.16px;
  height: 16px;
  width: 16px;
}

.blogCard h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 4px;
}

.blogCard p {
  margin-top: 6px;
  font-size: 20px;
  color: black;
  font-weight: 300;
  text-align: center;
}

.blogCard a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  text-align: center;
  margin-bottom: 8px;
}

.blogCard .datetags {
  position: absolute;
  background-color: rgb(37, 88, 216);
  top: 12px;
  left: 12px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.blogCard .datetags p {
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: 600;
  font-size: small;
}




.PeoplesaySection{
  height: 550x;
}


.allQuotes {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  gap: 16px;
}

.quotesCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
   border-radius: 16px;

}

.quotesCard img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.quotesCard p {
  margin-top: 6px;
  font-size: 20px;
  color: black;
  font-weight: 300;
  text-align: center;
}

.quotesCard a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  text-align: center;
  color: #858181;
  margin-bottom: 8px;
}







.Viewed_products{
  height: 300px;
  background-color: #324358;

}

#underlineleft{
  text-align: left;
  margin-left: 17px;
  width: 115px;
}


.most-viewed h2 {
  MARGIN-LEFT: 18PX;
  PADDING-TOP: 40PX;

  color: white;
}
.most-viewed h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;

}

.most-viewed p {
  padding: 0;
  padding-left: 2px;

}

.most-viewed-items-container {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding-top: 18px;
  padding-bottom: 28px;
  margin-left: 15px;
  
}

.most-viewed-item {
  background-color: white;
  border-radius: 5px;
  display: flex;
  width: 30%;

}

.most-viewed-img {
  margin: auto;
  width: 40%;
  overflow: hidden;
  border-radius: 40px;
}
.most-viewed-item img {

  height: 100%;
  width: 100%;
  overflow: hidden;
}
.most-viewed-item-details {
  width: 70%;
  padding: 10px;

}

.most-viewed-item-details a {
  margin: 0;
  padding-left: 2px;
}


.most-viewed-items-icons{
  display: flex;
  flex-direction: row;
  gap:20px
}

/*---footer */



footer{

  width: 100%;
  bottom: 0;
  padding: 50px 0 10px;
  font-size: 13px;
  background-color: white;
}
.social_media_links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  box-shadow: 3px 2px 4px ;
  margin: 20px;

}

.space {
  padding-left: 16px;
  padding-right: 16px;
  font-size:40px;
 
}
.text-color{
  color: blue;
  padding-bottom: 10px;
  padding-top: 3px;
  font-size: 18px;
}
.main_footer{
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
}
.row{
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;   
}
.row h3 {
  font-size: 30px;

}
.row p{
  font-size: 18px;
}
.height{
  height: 40px;
  width: 40px;
}

.input{
  position: relative;
}
.button{
 
 right: 398px
  
}


/* 
media  query 
*//* Tablet devices: 481px to 1024px *//* Image section */
/* Media query for medium screens */
@media screen and (max-width: 1024px) {
  .primary-header {

    padding: 10px 20px;
  }

  .primary-head {
    flex-direction: column;
    align-items: center;
  }

  .navigation-bar {
    margin-bottom: 10px;
  }

  .navigation-bar nav ul {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .hamburger-menu2 {
    display: none;
  }

  .login-signup {
    display: none;
  }

  .cart-info {
    display: none;
  }

  .hamburger-menu3 {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .secondary-head {
    flex-direction: column;
    align-items: center;
  }

  .journal-heading h1 {
    font-size: 1.5em;
  }

  .search-bar input {
    width: 200px;
  }
}


/* Media query for medium screens */
@media screen and (max-width: 1024px) {
  .both-department {
    flex-direction: column;
    align-items: center;
  }

  .department-navbar {
    margin-bottom: 20px;
  }

  .department-navbar ul,
  .contact-navbar ul {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .blog-heading {
    margin-top: 20px;
  }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .department-heading a:after {
    content: none;
  }
}


/* Media query for medium screens */
@media screen and (max-width: 1024px) {
  .homepage {
    flex-direction: column;
    align-items: center;
  }

  .lefthomepage {
    width: 100%;
    margin-bottom: 20px;
  }

  .righttophome,
  .rightbottomhome {
    width: 100%;
  }

  .rightcontent {
    padding: 10px;
    text-align: center;
  }
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .leftcontent,
  .rightcontent {
    width: 100%;
    text-align: center;
  }

  .leftcontent h2,
  .rightcontent h3 {
    font-size: 18px;
  }
}



@media  screen and (max-width: 935px) {
 

}


/*Media query for small screens */
@media (min-width: 576px) {
    .main_footer {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 45%;
    }
}

/* Media query for medium screens */
@media (min-width: 768px) {
    .main_footer {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 22%;
    }
}



/* Media queries for small and medium-sized screens */
@media (max-width: 768px) {
  .Viewed_products .most-viewed-item {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .Viewed_products .most-viewed-item {
    width: 100%;
  }
}

.wishlist{
  display: none;
}


.copy_right_section_footer{
  width: 100%;
  height: 100px;
  background-color: grey;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}
.right{
  position: absolute;
  top: 20px;
  right: 40px;

}


.right img{ 
  width: 321px;
  height: 62px;
  padding-right: 30px;
}

.left{
  position: absolute;
  top: 30px;
  left: 30px;
  margin-left: 120px;
}

.copy_right_section_footer .left{

  margin-left: 120px;

} 
.copy_right_section_footer  .right {


  margin-right: 120px;
}


@media (min-width: 576px) and (max-width: 767.98px) {


  .social_media_links{
    flex-direction: column;
    box-shadow: 0 0 0 ;
   
  }
  .fa-brands{
    padding: 10px;
  }


  
}




@media screen and (max-width: 1350px) {
  
  .login-signup-inner{
      display: none;
  }
  .hamburger-menu3{
      display: block;
  }
}

@media screen and (max-width: 850px) {
  .journal-heading h1{
      font-size: 1.3em;
  }
  .search-bar input{
      width: 200px;
      height: 20px;
  }
  .search-bar span{
      padding: 2px;
  }
  .search-bar button{
      height: 30px;
  }
}



/*  copy right section */

/* Small devices (phones, less than 768px) */
@media (max-width: 576px) {
  .copy_right_section_footer{
    display: flex;
    position: relative;
    height: 10%;
  width: 10%;
  }


  .wishlist{
    display: none;
  }
  

  .copy_right_section_footer .right img {

    flex-direction: column; 
    width: 30%;
    height: 30%;
    
  }

  .left h3{
    position: absolute;
    top: 40px;
  margin-left: 10px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  

  .copy_right_section_footer .left h3{
    
    padding-left: 0;
 
  }



.most-viewed-item{
  width: 20%;
}
.buy_brand{
  margin-top: 19px;
}
.allQuotes{
    
  width: 104%;
}
.carousel-innershop{
  width: 89%;
  padding-left: 50px;
}




}
@media (max-width: 992px) {

  

.wishlist{
  display: none;
}


  .copy_right_section_footer .left h3{
    
    padding-left: 0;
 
  }



.most-viewed-item{
  width: 20%;
}
.buy_brand{
  margin-top: 19px;
}
.allQuotes{
    
  width: 104%;
}
.carousel-innershop{
  width: 89%;
  padding-left: 50px;
}

.right img{

  height: 40%;
  width: 30%;
  margin-top:70px;
  margin-left: 150px;
}
.right .fa-arrow-up{
  display: none;
}


.journal-heading h1{ 

  padding: 20px;
  font-weight: 500;
  padding: 20px;
}


.hamburger-menu a  {
  display: none;

}

.Allservices{
  display: block;
  margin-top: 125px
}

.carousel, .carousel-inner, .carousel-slide {
  height: 40%;


}


}
@media screen and (max-width: 1024px) {


  .Allservices {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 120px;
  

}


.wishlist{
  display: none;
}

}